Source: zim-tools
Section: utils
Priority: optional
Maintainer: Kiwix team <kiwix@kiwix.org>
Build-Depends: debhelper-compat (= 13),
 meson,
 pkgconf,
 libzim-dev (>= 9.4), libzim-dev (<< 10.0),
 libmagic-dev,
 zlib1g-dev,
 libgumbo-dev,
 libicu-dev,
 libdocopt-dev,
 cmake,
 libgtest-dev,
 libkainjow-mustache-dev
Standards-Version: 4.6.2
Homepage: https://github.com/openzim/zim-tools
Rules-Requires-Root: no

Package: zim-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: various ZIM command-line tools
 ZIM tools is a collection of various command-line utilities for
 interacting and working with the ZIM file format.
